<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Welcome to FitPro Gym</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="membership.html">Membership</a>
        </nav>
    </header>
    <main class="image">
        <h1><font size="7" color="black"> CRUSH YOUR HEALTH <br> AND FITNESS GOALS IN NO TIME </font></h1>
        <br>
        <p><font size="4" color="black">It doesn't matter if your goal is to get stronger, burn fat, or to just stay fit our world class coaches will guide you every step of the way.</font></p>
        <br>
        <a href="http://127.0.0.1:5000/contact" class="btn">Join Now</a>
    </main>
    <footer>
        <p>© 2025 Fitness Pro Gym. All rights reserved.</p>
    </footer>
</body>
</html